In [1]:
import sys
sys.path.append('..')
from lib.pdb import get_atom_id_from_pdb, get_all_pdb_names
import pandas as pd
import numpy as np
import os

LIGAND_POCKET_VOXEL_NUM = 8
excluded_protein_list = ['184l', '185l', '186l', '187l', '188l', '1a28', '2p2a', '1xap',
                        '5t0t', '5tbm', '4xaq', '1lgw', '1dzk', '1e3g', '4zv1', '4omk',
                        '4p6w', '4poj', '3iod', '3f78', '1fcz', '1fd0', '1n46', '4kwf',
                        '2w8y', '3f3c', '3f3d', '3b5r', '3uex', '4ykj', '1rjk', '1s19',
                        '1sr7', '4v24', '4w52', '4pp5', '5hcv', '1kdk', '1l83', '3ctt',
                        '5l7g', '5l7h', '3b65', '3b66', '4xt2', '1u1w', '1usk', '1i37',
                        '1ie9', '4m8e', '1qkt', '1z95', '2o4j', '2o4r', '1ajn']

def get_water0_pdb(pdb_names):

    def count_water_number(pdb_file):
        ids = get_atom_id_from_pdb(pdb_file)
        return len(ids)
    
    water_0_pdb = []
    for pdb_name in pdb_names:
        if pdb_name in excluded_protein_list:
            continue
        base_path = f'../../data/LIGAND_POCKET_VOXEL_NUM_{LIGAND_POCKET_VOXEL_NUM}/labeled_water/'
        file_path = f'{pdb_name}/pred_O_placed_{pdb_name}_3.0.pdb'

        displaceable_water_num = count_water_number(os.path.join(base_path, 'displaceable/', file_path))
        non_displaceable_water_num = count_water_number(os.path.join(base_path, 'non_displaceable/', file_path))
        if displaceable_water_num == 0 and non_displaceable_water_num == 0:
            water_0_pdb.append(pdb_name)

    return water_0_pdb

pdb_names = get_all_pdb_names()
# water_0_pdb = get_water0_pdb(pdb_names)

exsheet = pd.ExcelFile('clusterNum.xlsx')
exsheet_df = exsheet.parse(exsheet.sheet_names[0])
# filtered_exsheet_df = exsheet_df[~exsheet_df['PDB'].isin(water_0_pdb)]
filtered_exsheet_df = exsheet_df
exsheet_array = filtered_exsheet_df.values

cluster_num = filtered_exsheet_df["Cluster Num"][:]
cluster_protein_counts = np.bincount(cluster_num) # それぞれのクラスターに何個のたんぱく質があるか

# クラスターのインデックスを作成
cluster_indices = np.arange(len(cluster_protein_counts))
# クラスターをタンパク質数でソート
sorted_clusters = cluster_indices[np.argsort(-cluster_protein_counts)]

In [6]:
filtered_exsheet_df

      Label   PDB  R2 Score  Cluster Num  Water Num
0       NaN  10gs  0.987155          608         75
1       NaN  184l  0.987065          682          9
2       NaN  185l  0.986976          682          6
3       NaN  186l  0.986873          682          8
4       NaN  187l  0.987317          682          7
...     ...   ...       ...          ...        ...
2713    NaN  4ezr  0.000000           45        126
2714    NaN  4ezz  0.000000           45        116
2715    NaN  4ynl  0.000000          856        110
2716    NaN  5e6o  0.000000          794         85
2717    NaN  5lso  0.000000          821         73

[2718 rows x 5 columns]

In [5]:
filtered_exsheet_df[~filtered_exsheet_df['PDB'].isin(excluded_protein_list)]

      Label   PDB  R2 Score  Cluster Num  Water Num
0       NaN  10gs  0.987155          608         75
6       NaN  1a1e  0.985351          825         66
8       NaN  1a4k  0.985724          588         82
9       NaN  1a4w  0.986433          429         74
10      NaN  1a69  0.986669          501         37
...     ...   ...       ...          ...        ...
2713    NaN  4ezr  0.000000           45        126
2714    NaN  4ezz  0.000000           45        116
2715    NaN  4ynl  0.000000          856        110
2716    NaN  5e6o  0.000000          794         85
2717    NaN  5lso  0.000000          821         73

[2663 rows x 5 columns]